.DS_Store
MPF-III/ROMs/Combined/fp-info-cache
/MPF-III/ROMs/Combined/MPF-III_2764-to-27128_Converter-backups
*.kicad_prl
/MPF-III/Keyboard/MPF-III_Keyboard/MPF-III_Keyboard-backups
MPF-III/Keyboard/MPF-III_Keyboard/fp-info-cache
